/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face
{
	
	src: url("/assets/fonts/---------.ttf");
	fontFamily: "StandardRegular";
	embedAsCFF: true;
}
@font-face
{
	src: url("/assets/fonts/ExpertSans/-------.ttf");
	fontFamily: "StandardRegularAllCase";
	embedAsCFF: true;
}
@font-face
{
	src: url("/assets/fonts/ExpertSans/----------.ttf");
	fontFamily: "StandardRegularAllCase";
	fontWeight: bold;
	embedAsCFF: true;
}
